target
*.wasm
*.obj
*.o
*.tar.gz
*.tgz
*.zip
*.jar
package-lock.json
elm-stuff
node_modules
.build
dist
elm.rs
elmMain.js
run.rs
build/
prebuilds/
node_modules/

zombie

# for experimentation
perf.data
testing/
run-profiling.sh
